# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

# Data Science Tools
1. VS Code
2. Jupyter Notebook
3. JupyterLab

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hours= 200/60
hours

3.3333333333333335

Objectives:

Data Science Libraries
Data Manipulation and visualizations tools
R Language

## Name:
    
Rameez Ahmad